/* :root {
    --main-color: #757575;
    --secondary-color: #252525;
} */

/* body {
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: var(--main-color);
} */ 
/* .header {
    border-bottom: 1px solid #ECECEC;
}
.container {
    width: 1200px;
    padding: 0 15px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
} */
/* .menu {
}
.menu-item {
} */
/* .menu-link {color: #252525;
} */
/* .contacts {
}
.contacts-item {
} */
/* .contacts-link {
    /* font-style: normal ; */
    /* color: #252525; */
/* } */ 
/* .main-conteiner {
}
.hero {
}
.hero-h1 {
}
.hero-btn {
} */
/* .hidden-h2 {
    visibility: hidden;
    width: 1px;
    height: 1px;
    margin-bottom: -1px;
} */
/* .footer {
} */
/* .hidden-h1 {
    visibility: hidden;
    width: 1px;
    height: 1px;
    margin-bottom: -1px;
} */

:root {
    --main-color: #212121;
    --secondary-color: #757575;
}

body {
    font-family: "roboto", tahoma, sans-serif;
    color: var(--main-color);
}

.lists {
    list-style: none;
}

.header-container {
    text-align: center;
}


.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration-line: none;
}

.logo-style {
    color: var(--main-color);    
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration-line: none;
}


.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    font-style: normal;
    color: var(--secondary-color); 
}


.menu-link:hover,
.contacts-link:hover,
.menu-link:focus,
.contacts-link:focus {
    color: #2196F3;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #F5F4FA;
    color: var(--main-color);
}



.hero {
    background-color: #2F303A;
}

.hero-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */

    display: block ;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.hidden-h2 {
    visibility: hidden;
    width: 1px;
    height: 1px;
    margin-bottom: -1px;
}
.second-section-list-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.second-section-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.name-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.workers {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

}

.proffesion {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color) ;
}

.footer-section {
    background: #2F303A;
}

.footer-logo-style {
    color: #FFFFFF;
}

.footer-contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    text-decoration-line: none;
    font-style: normal;
    letter-spacing: 0.03em;
    color:  #FFFFFF;
    opacity: 60%;
}

.contacts-addres {
    opacity: 100%;
}

.footer-contacts-link:hover {
    color:  #FFFFFF;
    opacity: 100%;
}

.pf-hidden-h1 {
    visibility: hidden;
    width: 1px;
    height: 1px;
    margin-bottom: -1px;
}

.portfolio-btn {
width: 128px;
height: 38px;
left: 576px;
top: 174px;
background: #F5F4FA;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus  {
    background:#2196F3;
    color: #FFFFFF;
}

.pf-name1 {
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
}

.pf-name2 {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: var(--secondary-color);
}